body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-image: url("https://media.istockphoto.com/id/1354982067/es/vector/cielo-estrellado-fondo-nocturno-negro-con-estrella-espacio-de-galaxia-estrellada-textura-de.jpg?s=612x612&w=0&k=20&c=hXBS72dkHQbFKqu5MYZfnd41ZNxisgnvCVqffoXfqgs=");
    color: rgb(115, 37, 232);
  }
  
  #app {
    max-width: 600px;
    margin: 0 auto;
  }
  
  #formularioAlta {
    margin-top: 20px;
  }
  
  #listaAlumnos {
    margin-top: 20px;
  }

  input {
    background: #ddd;
    border-radius: 8px;
  }
  
  button {
    margin-right: 10px;
    margin-bottom: 10px;
    background: #eee;
    border-radius: 8px;
  }
  
  .alumno-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .alumno-item button {
    margin-left: 10px;
  }